#about {
  #about_background {
    position: relative;
    left: -7vw;
    width: 107vw;
    height: 400px;
    background: url('../assets/home_background_2.jpeg') no-repeat center/cover;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
  }
}

