#home {
  #home_background {
    position: relative;
    left: 53.5%;
    transform: translateX(-50%);
    width: 107vw;
    height: 400px;
    background: url('../assets/home_background_1.png') no-repeat center 58%/cover;
  }
}