#spring {
    #festivalTitle {
        color: #F28DBC;
        border-left: 10px solid;
        padding-left: 10px;
    }
}

#summer {
    #festivalTitle {
        color: #52BF04;
        border-left: 10px solid;
        padding-left: 10px;
    }
}

#autumn {
    #festivalTitle {
        color: #F25C05;
        border-left: 10px solid;
        padding-left: 10px;
    }
}

#winter {
    #festivalTitle {
        color: #43A1E3;
        border-left: 10px solid;
        padding-left: 10px;
    }
}